.container {
    margin: 100px auto;
    padding: 50px 50px;
    /* text-align: center; */
    background-color: #BCB4CF;
    width: 50%;
}

h1, h4, h5 {
    padding-bottom: 10px;
}

.computerSelection {
    width: 45%;
    height: 35px;

}

.computerBox, .playerBox {
    background-color: rgb(74, 64, 100, 0.6);
    color:silver;
}

.scores {
    padding: 40px 100px;
}
