.container {
    margin: 100px auto;
    padding: 0px 100px 0px 100px;
    text-align: center;
}

h1 {
    padding-bottom: 50px;
}
h4 {
    padding-bottom: 40px;
}
.scores {
    padding: 40px 100px;
}
